<div ng-if="sideMenuOptions['Settings'] != true && sideMenuOptions['Choose League'] != true">
    <ion-side-menus>
        <ion-side-menu-content edge-drag-threshold="true"
                               drag-content="true">
            <ion-header-bar class="bar nav-title-slide-ios7 topHeader" style="border-bottom: 0px">
                <div class="buttons">
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"
                            style="color: #FE7C67;"></button>
                </div>
                <h1 class="title">
                    <span ng-repeat="(key,value) in sideMenuOptions | TitleFilter">{{key}}</span>
                </h1>
                <div class="buttons" >
                    <button class="button button-icon icon ion-android-share-alt"
                            ng-click="shareMessage()" style="color: #FE7C67;"></button>
                </div>
            </ion-header-bar>

            <my-side-menu-content></my-side-menu-content>

        </ion-side-menu-content>

        <ion-side-menu side="left" expose-aside-when="large" class="sideMenu">
            <ion-content>
                <div class="list">

                    <a class="item item-icon-left" ng-click="changeMenu('Football Tips'); getJson();"
                            ng-class="{'menu-active': urlArgs.first == 'Football Tips'}">
                        <i class="icon ion-ios-football dark"></i>
                        Football Tips
                        <span class="badge badge-assertive">{{badges.FootballTips}}</span>
                    </a>

                    <a class="item item-icon-left" ng-click="changeMenu('Horse Racing Tips');getJson();"
                       ng-class="{'menu-active': urlArgs.first == 'Horse Racing Tips'}">
                        <i class="icon ion-flag dark"></i>
                        Horse Racing Tips
                        <span class="badge badge-assertive">{{badges.HorsesTips}}</span>
                    </a>

                    <a class="item item-icon-left" ng-click="changeMenu('NFL Tips'); getJson();" style="border-bottom: 1px solid white"
                       ng-class="{'menu-active': urlArgs.first == 'NFL Tips'}">
                        <i class="icon ion-ios-football-outline dark"></i>
                            NFL Tips
                        <span class="badge badge-assertive">{{badges.NFLTips}}</span>
                    </a>

                    <a class="item" style="border-color: #ddd !important;" ng-click="changeMenu('Accuracy');getJson();"
                       ng-class="{'menu-active': urlArgs.first == 'Accuracy'}">
                        Accuracy
                    </a>

                    <a class="item" ng-click="changeMenu('Settings');"
                       ng-class="{'menu-active': urlArgs.first == 'Settings'}">
                        Settings
                    </a>

                    <a class="item" ng-click="changeMenu('Choose League');"
                       ng-class="{'menu-active': urlArgs.first == 'Choose League'}">
                        Choose League
                    </a>

                    <a class="item" ng-click="changeMenu('Rate Us');"
                       ng-class="{'menu-active': urlArgs.first == 'Rate Us'}">
                        Rate Us
                    </a>
                </div>
            </ion-content>
        </ion-side-menu>

    </ion-side-menus>
</div>

<div ng-if="sideMenuOptions['Settings'] == true">
    <ion-header-bar class="bar topHeader">
            <button class="button button-icon icon ion-android-arrow-back elements"
                    ng-click="goBackFromSettings()"></button>
        <h1 class="title elements">Settings
        </h1>
    </ion-header-bar>

</div>

<div ng-if="sideMenuOptions['Choose League'] == true">
    <ion-header-bar class="bar topHeader">
        <button class="button button-icon icon ion-android-arrow-back elements"
                ng-click="goBackFromChooseLeague()"></button>
        <h1 class="title elements">Choose League
        </h1>
    </ion-header-bar>
    <ion-content>
        <choose-league></choose-league>
    </ion-content>
</div>