<div ng-if="sideMenuOptions['Settings'] != true && sideMenuOptions['Choose League'] != true">
    <ion-side-menus>
        <ion-side-menu-content edge-drag-threshold="true"
                               drag-content="true">
            <ion-header-bar class="bar nav-title-slide-ios7 topHeader" style="border-bottom: 0px">
                <div class="buttons">
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"
                            style="color: #FE7C67;"></button>
                </div>
                <h1 class="title">
                    <span ng-repeat="(key,value) in sideMenuOptions | TitleFilter">{{key}}</span>
                </h1>
                <div class="buttons" >
                    <button class="button button-icon icon ion-android-share-alt"
                            ng-click="shareMessage()" style="color: #FE7C67;"></button>
                </div>
            </ion-header-bar>

            <my-side-menu-content></my-side-menu-content>

        </ion-side-menu-content>

        <ion-side-menu side="left" expose-aside-when="large" class="sideMenu">
            <ion-content>
                <div class="list">

                    <a class="item my-menu-list-item" ng-click="changeMenu('Football Tips'); getJson();"
                            ng-class="{'menu-active': urlArgs.first == 'Football Tips'}">
                        <img src="css/icons/ios-football.svg" class="my-img-icon">
                        Football Tips&nbsp;&nbsp;
                        <span class="badge badge-assertive">{{badges.FootballTips}}</span>
                    </a>

                    <a class="item my-menu-list-item" ng-click="checkPurchase('Horse Racing Tips');"
                       ng-class="{'menu-active': urlArgs.first == 'Horse Racing Tips'}">
                        <img src="css/icons/flag.svg" class="my-img-icon">
                        Horse Racing Tips&nbsp;&nbsp;
                        <i class="icon ion-android-lock my-icon" ng-if="purchase['Horse Racing Tips'] == false"></i>
                        <span class="badge badge-assertive">{{badges.HorsesTips}}</span>
                    </a>

                    <a class="item my-menu-list-item" ng-click="checkPurchase('NFL Tips');"
                       ng-class="{'menu-active': urlArgs.first == 'NFL Tips'}">
                        <img src="css/icons/ios-americanfootball.svg" class="my-img-icon">
                        NFL Tips&nbsp;&nbsp;
                        <i class="icon ion-android-lock my-icon" ng-if="purchase['NFL Tips'] == false"></i>
                        <span class="badge badge-assertive">{{badges.NFLTips}}</span>
                    </a>

                    <a class="item my-menu-list-item" ng-click="checkPurchase('Boxing Tips');"
                       ng-class="{'menu-active': urlArgs.first == 'Boxing Tips'}">
                        <img src="css/icons/boxing.svg" class="my-img-icon">
                        Boxing Tips&nbsp;&nbsp;
                        <i class="icon ion-android-lock my-icon" ng-if="purchase['Boxing Tips'] == false"></i>
                        <span class="badge badge-assertive">{{badges.NFLTips}}</span>

                    </a>

                    <a class="item my-menu-list-item" ng-click="checkPurchase('Cricket Tips');"
                       ng-class="{'menu-active': urlArgs.first == 'Cricket Tips'}">
                        <img src="css/icons/cricket.svg" class="my-img-icon">
                        Cricket Tips&nbsp;&nbsp;
                        <i class="icon ion-android-lock my-icon" ng-if="purchase['Cricket Tips'] == false"></i>
                        <span class="badge badge-assertive">{{badges.NFLTips}}</span>
                    </a>

                    <a class="item my-menu-list-item" ng-click="checkPurchase('Tennis Tips');"
                       ng-class="{'menu-active': urlArgs.first == 'Tennis Tips'}">
                        <img src="css/icons/tennis.svg" class="my-img-icon">
                        Tennis Tips&nbsp;&nbsp;
                        <i class="icon ion-android-lock my-icon" ng-if="purchase['Tennis Tips'] == false"></i>
                        <span class="badge badge-assertive">{{badges.NFLTips}}</span>
                    </a>

                    <a class="item" ng-click="changeMenu('Stats'); getStats();" style="border-top: 2px solid white"
                       ng-class="{'menu-active': urlArgs.first == 'Stats'}">
                        Tables / Stats
                    </a>

                    <a class="item" style="border-color: #ddd !important;" ng-click="changeMenu('Accuracy');getJson();"
                       ng-class="{'menu-active': urlArgs.first == 'Accuracy'}">
                        Accuracy
                    </a>

                    <a class="item" ng-click="changeMenu('Settings');"
                       ng-class="{'menu-active': urlArgs.first == 'Settings'}">
                        Settings
                    </a>

                    <a class="item" ng-click="changeMenu('Choose League');"
                       ng-class="{'menu-active': urlArgs.first == 'Choose League'}">
                        Choose League
                    </a>

                    <a class="item" ng-click="urlArgs.first = 'Rate Us'"
                       ng-class="{'menu-active': urlArgs.first == 'Rate Us'}">
                        Rate Us
                    </a>


                    <a class="item" ng-click="changeMenu('Test');"
                       ng-class="{'menu-active': urlArgs.first == 'Test'}">
                        Test
                    </a>
                </div>
            </ion-content>
        </ion-side-menu>

    </ion-side-menus>
</div>

<div ng-if="sideMenuOptions['Settings'] == true">
    <ion-header-bar class="bar topHeader">
            <button class="button button-icon icon ion-android-arrow-back elements"
                    ng-click="goBackFromSettings()"></button>
        <h1 class="title elements">Settings
        </h1>
    </ion-header-bar>
    <ion-content></ion-content>

</div>

<div ng-if="sideMenuOptions['Choose League'] == true">
    <ion-header-bar class="bar topHeader">
        <button class="button button-icon icon ion-android-arrow-back elements"
                ng-click="goBackFromChooseLeague()"></button>
        <h1 class="title elements">Choose League
        </h1>
    </ion-header-bar>
    <ion-content>
        <choose-league></choose-league>
    </ion-content>
</div>