<div ng-if="sideMenuOptions['Football Tips']">

   <ion-pane class="has-header">
       <div class="tabs-striped tabs-top topHeader">
           <div class="tabs topHeader">
               <a class="tab-item"
                  ng-click="urlArgs.time = 'Daily'; getJson()"
                  ng-class="{'active': urlArgs.time == 'Daily'}">
                   Daily Tips
               </a>
               <a class="tab-item"
                  ng-click="urlArgs.time = 'Weekly'; getJson()"
                  ng-class="{'active': urlArgs.time == 'Weekly'}">
                   Weekly Picks
               </a>
           </div>

           <div class="tabs topHeader bottomHeader">
               <button class="button my-select-button" ng-click=" openPopup('popWin')">{{urlArgs.winType}}
                   <span class="badge badge-assertive" >{{filteredResult[0].length + filteredResult[1].length}}</span>
                   <span class="badge badge-assertive" ng-if="filteredResult[0].length + filteredResult[1].length == undefined">0</span>
               </button>
               <button class="button my-select-button" ng-click="openPopup('popStar')">{{urlArgs.star}} Tips
                   <i class="icon ion-android-lock" ng-show="true" ng-if="urlArgs.star == '5 Star'"></i>
                   <span class="badge badge-assertive" ng-if="urlArgs.star == '4 Star'">{{filteredResult[0].length}}</span>
                   <span class="badge badge-assertive" ng-if="urlArgs.star == '4 Star' && filteredResult[0].length == undefined">0</span>
                   <span class="badge badge-assertive" ng-if="urlArgs.star == '5 Star'">{{filteredResult[1].length}}</span>
                   <span class="badge badge-assertive" ng-if="urlArgs.star == '5 Star' && filteredResult[1].length == undefined">0</span>
               </button>

               <!--<select ng-model="urlArgs.winType">-->
                   <!--<option value="Home Wins">Home Wins-->
                       <!--<span class="badge badge-assertive" ng-show="tabs_daily">{{badges.HomeTodayTotal}}</span>-->
                       <!--<span class="badge badge-assertive" ng-hide="tabs_daily">{{badges.HomeTotal}}</span>-->
                   <!--</option>-->
                   <!--<option value="Away Wins">Away Wins-->
                       <!--<span class="badge badge-assertive" ng-show="tabs_daily">{{badges.AwayTodayTotal}}</span>-->
                       <!--<span class="badge badge-assertive" ng-hide="tabs_daily">{{badges.AwayTotal}}</span>-->
                   <!--</option>-->
                   <!--<option value="High Scoring">High Scoring-->
                       <!--<span class="badge badge-assertive" ng-show="tabs_daily">{{badges.HighTodayTotal}}</span>-->
                       <!--<span class="badge badge-assertive" ng-hide="tabs_daily">{{badges.HighTotal}}</span>-->
                   <!--</option>-->
                   <!--<option value="Low Scoring">Low Scoring-->
                       <!--<span class="badge badge-assertive" ng-show="tabs_daily">{{badges.LowTodayTotal}}</span>-->
                       <!--<span class="badge badge-assertive" ng-hide="tabs_daily">{{badges.LowTotal}}</span>-->
                   <!--</option>-->
                   <!--<option value="BTTS">BTTS-->
                       <!--<span class="badge badge-assertive" ng-show="tabs_daily">{{badges.BTTSTodayTotal}}</span>-->
                       <!--<span class="badge badge-assertive" ng-hide="tabs_daily">{{badges.BTTSTotal}}</span>-->
                   <!--</option>-->
               <!--</select>-->


               <!--<button class="button" ng-class="{'option-active': urlArgs.star == '4 Star', 'option-passive': urlArgs.star != '4 Star'}"-->
                       <!--ng-click="urlArgs.star = '4 Star'">4 Star Tips-->
                   <!--<span class="badge badge-assertive">{{badges[badgeArray[0]]}}</span>-->
               <!--</button>-->

               <!--<button class="button"ng-class="{'option-active': urlArgs.star == '5 Star', 'option-passive': urlArgs.star != '5 Star'}"-->
                       <!--ng-click="urlArgs.star = '5 Star'">5 Star Tips&nbsp;-->
                   <!--<i class="icon ion-android-lock" ng-show="true"></i>-->
                   <!--<span class="badge badge-assertive">{{badges[badgeArray[1]]}}</span>-->
               <!--</button>-->
           </div>

          <!-- <div class="bar topHeader" ng-click="chooseType()">
               <select ng-model="urlArgs.winType">
                   <option selected value="Home Wins">Home Wins
                       <span class="badge badge-assertive" ng-show="tabs_daily">{{badges.HomeTodayTotal}}</span>
                       <span class="badge badge-assertive" ng-hide="tabs_daily">{{badges.HomeTotal}}</span>
                   </option>
                   <option value="Away Wins">Away Wins
                       <span class="badge badge-assertive" ng-show="tabs_daily">{{badges.AwayTodayTotal}}</span>
                       <span class="badge badge-assertive" ng-hide="tabs_daily">{{badges.AwayTotal}}</span>
                   </option>
                   <option value="High Scoring">High Scoring
                       <span class="badge badge-assertive" ng-show="tabs_daily">{{badges.HighTodayTotal}}</span>
                       <span class="badge badge-assertive" ng-hide="tabs_daily">{{badges.HighTotal}}</span>
                   </option>
                   <option value="Low Scoring">Low Scoring
                       <span class="badge badge-assertive" ng-show="tabs_daily">{{badges.LowTodayTotal}}</span>
                       <span class="badge badge-assertive" ng-hide="tabs_daily">{{badges.LowTotal}}</span>
                   </option>
                   <option value="BTTS">BTTS
                       <span class="badge badge-assertive" ng-show="tabs_daily">{{badges.BTTSTodayTotal}}</span>
                       <span class="badge badge-assertive" ng-hide="tabs_daily">{{badges.BTTSTotal}}</span>
                   </option>
               </select>
               <div class="buttons">

                   <button class="button" ng-class="{'option-active': urlArgs.star == '4 Star', 'option-passive': urlArgs.star != '4 Star'}"
                           ng-click="urlArgs.star = '4 Star'">4 Star Tips
                       <span class="badge badge-assertive">{{badges[badgeArray[0]]}}</span>
                   </button>

                   <button class="button"ng-class="{'option-active': urlArgs.star == '5 Star', 'option-passive': urlArgs.star != '5 Star'}"
                           ng-click="urlArgs.star = '5 Star'">5 Star Tips&nbsp;
                       <i class="icon ion-android-lock" ng-show="true"></i>
                       <span class="badge badge-assertive">{{badges[badgeArray[1]]}}</span>
                   </button>

               </div>

           </div>-->




           <div>
               <my-tabs-content></my-tabs-content>
           </div>
       </div>




   </ion-pane>
</div>

<div ng-if="sideMenuOptions['Stats']">
    <ion-pane class="has-header">
        <div class="tabs topHeader bottomHeader2">
            <button class="button my-select-button" ng-click="openPopup('popStatsType')">{{urlArgs.statsType}}</button>
        </div>
        <div class="tabs topHeader bottomHeader3 newsFeed" style="text-align: center; line-height: 30px; vertical-align: middle">
            <!--<div class="row">-->
                <div class="col" ng-repeat="item in statsOrder" ng-if="stats[0].hasOwnProperty(item)"
                       style="padding: 0px; line-height: 8px;" >{{item}}
                </div>
            <!--</div>-->
        </div>
            <div>
                <ion-content style="top: 133px !important">
                    <div class="newsFeed" collection-repeat="item in stats">
                        <!--<div class="row" ng-if="$first">-->
                        <!--<div class="col"  ng-repeat="(key,value) in item" ng-if="key != 'Name' && key!= 'League'">{{key}}</div>-->
                        <!--</div>-->
                        <div class="row" ng-if="item.hasOwnProperty('Name')">
                            <div class="col">
                                <span>{{item.Name}}</span>
                                <span ng-if="item.hasOwnProperty('League')"><br/>{{item.League}}</span>
                            </div>
                        </div>
                        <div class="row"  style="text-align: center">
                            <div class="col"
                                 ng-repeat="st in statsOrder" ng-if="item.hasOwnProperty(st)">{{item[st]}}</div>
                        </div>
                    </div>
                </ion-content>
            </div>
    </ion-pane>
</div>


<ion-content class="has-header">
    <div ng-if="sideMenuOptions['Horse Racing Tips']">
        <div ng-if="stock[0] == ''  && internet != false" class="row">
            <h4 style="color:white; font-weight: normal; margin-left: auto; margin-right: auto;  padding: 10px">There are no tips available at this time</h4>
        </div>
        <div ng-if="internet == false" class="row">
            <h4 style="color:white; font-weight: normal; margin-left: auto; margin-right: auto;  padding: 10px">Please connect to the internet and try again</h4>
        </div>
        <div ng-repeat="st in stock[0]" class="row newsFeed">
            <div class="col">{{st.Name}}</div>
            <div class="col">{{st.Tipster}}</div>
            <div class="col">{{st.Racecard}}</div>
        </div>
    </div>

    <div ng-if="sideMenuOptions['NFL Tips'] || sideMenuOptions['Cricket Tips'] || sideMenuOptions['Boxing Tips']  || sideMenuOptions['Tennis Tips']">
        <div ng-if="stock[0] == '' && internet != false" class="row ">
            <h4 style="color:white; font-weight: normal; margin-left: auto; margin-right: auto;  padding: 10px">There are no tips available at this time</h4>
        </div>
        <div ng-if="internet == false" class="row">
            <h4 style="color:white; font-weight: normal; margin-left: auto; margin-right: auto;  padding: 10px">Please connect to the internet and try again</h4>
        </div>
        <div ng-repeat="st in stock[0]" class="row newsFeed"
             ng-class-even="'listEven'" ng-class-odd="'listOdd'">
            <div class="col">
                <span ng-show="sideMenuOptions['Tennis Tips']">{{st.Game}}</span>
                <span ng-hide="sideMenuOptions['Tennis Tips']">{{st.Match}}</span>
            </div>
            <div class="col">{{st.Tip}}</div>
            <div class="col">{{st.Date}}</div>
        </div>
    </div>

    <!--<div ng-if="sideMenuOptions['Tennis Tips']">-->
        <!--<div ng-if="stock[0] == '' && internet != false" class="row ">-->
            <!--<h4 style="color:white; font-weight: normal; margin-left: auto; margin-right: auto;  padding: 10px">There are no tips available at this time</h4>-->
        <!--</div>-->
        <!--<div ng-if="internet == false" class="row">-->
            <!--<h4 style="color:white; font-weight: normal; margin-left: auto; margin-right: auto;  padding: 10px">Please connect to the internet and try again</h4>-->
        <!--</div>-->
        <!--<div ng-repeat="st in stock[0]" class="row newsFeed"-->
             <!--ng-class-even="'listEven'" ng-class-odd="'listOdd'">-->
            <!--<div class="col">{{st.Game}}</div>-->
            <!--<div class="col">{{st.Tip}}</div>-->
            <!--<div class="col">{{st.Date}}</div>-->
        <!--</div>-->
    <!--</div>-->

    <div ng-if="sideMenuOptions['Accuracy']">
        <div ng-show="urlArgs.first == 'Accuracy'">
            <div class="row newsFeed" ng-repeat="(key,value) in accuracy | myOrderBy : accuracyorder" >
                <div class="col">{{value.name}}</div>
                <div class="col" style="text-align:right;">{{value.percent}}%</div>
            </div>
        </div>
    </div>

    <div ng-if="sideMenuOptions['Settings']"></div>

    <div ng-if="sideMenuOptions['Choose League']">
        <choose-league></choose-league>
    </div>

    <div ng-if="sideMenuOptions['Test']">
        <button class="button button-dark button-medium row" ng-click="startPurchase('5startips')">Buy 5startips</button>
        <button class="button button-dark button-medium row" ng-click="startPurchase('horseracingtips')">Buy horseracingtips</button>
        <button class="button button-dark button-medium row" ng-click="startPurchase('nfltips')">Buy nfltips</button>
        <button class="button button-dark button-medium row" ng-click="startPurchase('entireapp')">Buy entireapp</button>
    </div>

</ion-content>