<!--<div class="row">-->
    <!--<button class="col button button-medium"-->
            <!--style="border-right: none"-->
            <!--ng-class="{'option-active': urlArgs.star == '4 Star', 'option-passive': urlArgs.star != '4 Star'}"-->
            <!--ng-click="urlArgs.star = '4 Star'">4 Star Tips-->
        <!--<span class="badge badge-assertive">{{badges[badgeArray[0]]}}</span>-->
    <!--</button>-->
    <!--<button class="col button button-medium"-->
            <!--style="border-left: none"-->
            <!--ng-class="{'option-active': urlArgs.star == '5 Star', 'option-passive': urlArgs.star != '5 Star'}"-->
            <!--ng-click="urlArgs.star = '5 Star'">5 Star Tips&nbsp;-->
            <!--<i class="icon ion-android-lock" ng-show="true"></i>-->
        <!--<span class="badge badge-assertive">{{badges[badgeArray[1]]}}</span>-->

    <!--</button>-->
<!--</div>-->
<ion-content class="has-header has-subheader mainContent" style="top: 164px !important">
    <div>
        <div ng-if="urlArgs.star == '4 Star'">
            <div ng-if="filteredResult[0].length == 0  && internet != false" class="row">
                <h4 style="color:white; font-weight: normal; margin-left: auto; margin-right: auto; padding: 10px">There are no tips available at this time</h4>
            </div>
            <div ng-if="internet == false" class="row">
                <h4 style="color:white; font-weight: normal; margin-left: auto; margin-right: auto;  padding: 10px">Please connect to the internet and try again</h4>
            </div>
            <div ng-if="content[0].success == 1" class="row newsFeed"
                 ng-repeat="record in filteredResult[0]">
                <div class="col">
                    <div class="row">
                        {{record.HomeTeam}}
                    </div>
                    <div class="row">
                        {{record.AwayTeam}}
                    </div>
                </div>
                <div class="col">
                    {{record.League}}
                </div>
                <div class="col">
                    {{record.Date}}
                    {{record.KickOff}}
                </div>
            </div>
        </div>
        <div ng-if="urlArgs.star == '5 Star'" class="myList">
            <div ng-if="filteredResult[1].length == 0  && internet != false" class="row">
                <h4 style="color:white; font-weight: normal; margin-left: auto; margin-right: auto; padding: 10px">There are no tips available at this time</h4>
            </div>
            <div ng-if="internet == false" class="row">
                <h4 style="color:white; font-weight: normal; margin-left: auto; margin-right: auto; padding: 10px">Please connect to the internet and try again</h4>
            </div>
            <div ng-if="content[1].success == 1" class="row newsFeed"
                 ng-repeat="record in filteredResult[1]">
                <div class="col">
                    <div class="row">
                        {{record.HomeTeam}}
                    </div>
                    <div class="row">
                        {{record.AwayTeam}}
                    </div>
                </div>
                <div class="col">
                    {{record.League}}
                </div>
                <div class="col">
                    {{record.Date}}
                    {{record.KickOff}}
                </div>
            </div>
        </div>
    </div>
</ion-content>


<!--<div class="bar bar-dark" style="position:relative" ng-click="four_star = !four_star">-->
    <!--<div class="title" style="color:#33CD5F">-->
        <!--<i class="icon ion-android-star-outline"></i>&nbsp;4 Star Tips&nbsp;<i class="icon ion-android-star-outline"></i>-->
    <!--</div>-->
<!--</div>-->
<!--<div ng-show="four_star" class="tips">Sarah</div>-->


<!--<div style="height:1px"></div>-->


<!--<div class="bar bar-dark" style="position:relative" ng-click="five_star = !five_star"-->
        <!--ng-class="{'icon ion-android-lock': true}">-->
    <!--<div class="title" style="color: #33CD5F">-->
        <!--<i class="icon ion-android-star-outline"></i>&nbsp;5 Star Tips&nbsp;<i class="icon ion-android-star-outline"></i>-->
    <!--</div>-->
<!--</div>-->
<!--<div ng-show="five_star" class="tips">Ahmed</div>-->
