<div class="bar bar-dark" style="position:relative" ng-click="four_star = !four_star">
    <div class="title" style="color:#33CD5F">
        <i class="icon ion-android-star-outline"></i>&nbsp;4 Star Tips&nbsp;<i class="icon ion-android-star-outline"></i>
    </div>
</div>
<div ng-show="four_star" class="tips">Sarah</div>


<div style="height:1px"></div>


<div class="bar bar-dark" style="position:relative" ng-click="five_star = !five_star"
        ng-class="{'icon ion-android-lock': true}">
    <div class="title" style="color: #33CD5F">
        <i class="icon ion-android-star-outline"></i>&nbsp;5 Star Tips&nbsp;<i class="icon ion-android-star-outline"></i>
    </div>
</div>
<div ng-show="five_star" class="tips">Ahmed</div>
