<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.bigedev.cgtipster" version="3" versionCode="2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>CGTipster</name>
  <description>&#xD;
        The Most Accurate Sports Tipster&#xD;
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">&#xD;
      Ionic Framework Team&#xD;
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="5000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <icon src="resources/android/icon/icon-mdpi.jpg" density="mdpi"/>
    <icon src="resources/android/icon/icon-hdpi.jpg" density="hdpi"/>
    <icon src="resources/android/icon/icon-xhdpi.jpg" density="xhdpi"/>
    <icon src="resources/android/icon/icon-xxhdpi.jpg" density="xxhdpi"/>
      <icon src="resources/android/icon/icon-xxxhdpi.jpg" density="xxxhdpi"/>
      <icon src="resources/android/icon/icon-ldpi.jpg" density="ldpi"/>
    <splash src="resources/android/splash/splash320land.jpg" density="land-mdpi"/>
    <splash src="resources/android/splash/splash480land.jpg" density="land-hdpi"/>
    <splash src="resources/android/splash/splash600land.jpg" density="land-xhdpi"/>
    <splash src="resources/android/splash/splash720land.jpg" density="land-xxhdpi"/>
    <splash src="resources/android/splash/splash1080land.jpg" density="land-xxxhdpi"/>
    <splash src="resources/android/splash/splash.jpg" density="port-mdpi"/>
    <splash src="resources/android/splash/splash320.jpg" density="port-hdpi"/>
    <splash src="resources/android/splash/splash480.jpg" density="port-xhdpi"/>
    <splash src="resources/android/splash/splash600.jpg" density="port-xxhdpi"/>
    <splash src="resources/android/splash/splash720.jpg" density="port-xxxhdpi"/>
  </platform>
</widget>