.tips {
    background-color: #C9EAD2;
}

.option-active {
    border: 2px solid #FE7C67;
    background-color: #FE7C67;
    color: white;
}

.option-passive {
    border: 2px solid #FE7C67;
    background-color: #2A3A49;
    color: white;
}

select
{
    border: 2px solid #FE7C67;
    background-color: #2A3A49;
    color: white;
}

.my-select-button {
    border: 2px solid #FE7C67;
    background-color: #2A3A49;
    color: white;
}

.button {
    border-radius: 0px;
}
.button:hover{
    color: white;
}
.button:active{
    color: white;
    background-color: #2A3A49;
    border: 2px solid #2A3A49;
}

.topHeader {
    background-color: #2A3A49 !important;
    color: #ffffff !important;
}

.bottomHeader
{
    top: 93px !important;
    padding-top: 2px !important;
    height: 70px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.title
{
    color: #ffffff !important;
    font-size: 22px !important;
}
.mainContent
{
    background-color: #7B96B3 !important;
}


.tab-item
{
    color: #ffffff !important;
    opacity: 1;
}

.tab-item.active
{
    border-color: #FE7C67 !important;
    color: #ffffff !important;
}
.tabs-striped .tabs
{
    border-bottom: 1px solid #2A3A49 !important;
}


.sideMenu
{
    background-color: #7B96B3 !important;
}
.item
{
    background-color: #7B96B3 !important;
    color: white !important;
    border: none;
}
.icon
{
    color: white !important;
}

.popup-head
{
    padding: 0px !important;
}

.popup-body {
    padding: 1px !important;
}

.menu-active {
    background-color: #FE7C67 !important;
}

.popUpList > .item {
    border: 1px solid white !important;
}
/*
.mySelect {
    background-color: #7994B1;
}

.mySelect .elements {
    color: #2A3A49;
}

.myTabs {
    background-color: #F3BD75 !important;
}

.myTabs a {
    color: #2A3A49;
}

.listEven {
    background-color: #E3D5EA;
}

.listOdd {
    background-color: #C1C7CE;
}*/
