.tips {
    background-color: #C9EAD2;
}

.checkbox-assertive input:checked:before, .checkbox-assertive input:checked + .checkbox-icon:before {
    background: #FE7C67;
    border-color: #FE7C67;
}

.option-active {
    border: 2px solid #FE7C67;
    background-color: #FE7C67;
    color: white;
}

.option-passive {
    border: 2px solid #FE7C67;
    background-color: #2A3A49;
    color: white;
}

select
{
    border: 2px solid #FE7C67;
    background-color: #2A3A49;
    color: white;
}

.my-select-button {
    border: 2px solid #2A3A49;
    background-color: #FE7C67;
    color: white;
}

.button {
    border-radius: 0px;
}
.button:hover{
    color: white;
}
.button:active{
    color: white;
    background-color: #2A3A49;
    border: 2px solid #2A3A49;
}

.topHeader {
    background-color: #2A3A49 !important;
    color: #ffffff !important;
}

.bottomHeader
{
    top: 93px !important;
    padding-top: 2px !important;
    height: 70px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.bottomHeader2
{
    top: 43px !important;
    padding-top: 2px !important;
    height: 70px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.bottomHeader3
{
    top: 113px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 0px !important;
    height: 30px !important;
    /*padding-top: 10px !important;*/
    padding-bottom: 0px !important;
    color: #FE7C67 !important;
}

.title
{
    color: #ffffff !important;
    font-size: 22px !important;
}
/*.mainContent*/
/*{*/
    /*background-color: #7B96B3 !important;*/
/*}*/

ion-content {
    background-color: #7B96B3 !important;
    color: #ffffff !important;
}


.tab-item
{
    color: #ffffff !important;
    opacity: 1;
}

.tab-item.active
{
    border-color: #FE7C67 !important;
    color: #ffffff !important;
}
.tabs-striped .tabs
{
    border-bottom: 1px solid #2A3A49 !important;
}


.sideMenu
{
    background-color: #7B96B3 !important;
}
.item
{
    background-color: #7B96B3 !important;
    color: white !important;
    border: none;
}
.icon
{
    color: white !important;
}

.popup-head
{
    padding: 0px !important;
    border-bottom: 0px !important;
}

.popup-body {
    padding: 1px !important;
}

.menu-active {
    background-color: #FE7C67 !important;
}

.popUpList > .item {
    border: 1px solid white !important;
}
.newsFeed
{
   border-bottom: 1px solid rgb(172, 172, 172) !important;
    padding: 10px; !important;
    margin-top: 0px !important;
    padding-top: 10px !important;
}

.my-icon {
    font-size: 20px !important;
}

.my-img-icon {
    max-height: 54px!important;
    height:32px !important;
    max-width: 32px !important;
    position: absolute !important;
    top: 0px !important;
    right:auto !important;
    left:11px !important;
    font-size: 32px !important;
    align-items: center !important;
    line-height: 54px !important;
    vertical-align: middle !important;
}

img {
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}

/*
.mySelect {
    background-color: #7994B1;
}

.mySelect .elements {
    color: #2A3A49;
}

.myTabs {
    background-color: #F3BD75 !important;
}

.myTabs a {
    color: #2A3A49;
}

.listEven {
    background-color: #E3D5EA;
}

.listOdd {
    background-color: #C1C7CE;
}*/
